<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_name %><br>
    <%= f.text_field :team_name %>
  </div>
  <div class="field">
    <%= f.label :paid_status %><br>
    <%= f.text_field :paid_status %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
	<%= f.select :school, options_for_select(get_schools_array, get_school_name), :id =>"sel" %>
	<div id="other">
	  Enter School Name Here: <%= text_field :team_name, :other, :value => get_other_value %>
	</div>
  </div>
  <div class="actions">
    <%= f.submit :class => "button round" %>
  </div>
<% end %>

<script>
  $(function(){
    $('#other').hide();
	var val = $('#team_school').val();
	if (val == "Other") {
	    $('#other').show();
	  }
	$('#team_school').change(function() {
	  var val = $(this).val();
	  $('#other').hide();
	  if (val == "Other") {
	    $('#other').show();
	  }	    
	});
  });
</script>
