<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th>Paid status</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.paid_status %></td>
        <td><%= team.school %></td>
        <td><%= link_to 'Manage Team', team %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path, :class => "button round" %>
<%= link_to 'View all Participants', { controller: "participants", method: "index" }, :class => "button round" %>
<%= link_to 'Back to Dashboard', admin_dashboard_url, :class => "button round" %>
