<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Paid status:</strong>
  <%= @team.paid_status %>
</p>

<p>
  <strong>School:</strong>
  <%= @team.school %>
</p>

<% if is_team_captain? || is_admin? %>
<%= link_to 'Edit Team Info', edit_team_path(@team), :class => "button round" %>
<% @team_id = @team.id %>
<%= link_to "Add/Remove Team Members", {controller: "team_members", action: "show", id: @team_id}, :class => "button round" %>
<% end %>

<% if is_admin? %>
<%= link_to 'Back', teams_path, :class => "button round" %>
<% else %>
<%= link_to 'Back', participant_dashboard_url, :class => "button round" %>
<% end %>
