<!-- Commented this notice to prevent from displaying twice, later delete it

<p id="notice"><%= notice %></p>

-->

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Paid status:</strong>
  <%= @team.paid_status %>
</p>

<p>
  <strong>School:</strong>
  <%= @team.school %>
</p>

<% if is_participant? || is_admin? %>
<%= link_to 'Edit Team Info', edit_team_path(@team) %> |
<%= link_to 'Add/Remove Team Members', edit_team_path(@team) %>
<% end %>
