<%= form_tag :action => 'create' %>
	<p>
	<%= radio_button_tag(:recipients, Administrator.recipient_captain, true) %>
	<%= label_tag(:recipients, "send to all team captains") %>
	<%= radio_button_tag(:recipients, Administrator.recipient_participant) %>
	<%= label_tag(:recipients, "send to all participants") %>
	</p>
	
	<p>
	<%= radio_button_tag(:method, Administrator.method_email, true) %>
	<%= label_tag(:method, "send via email") %>
	<%= radio_button_tag(:method, Administrator.method_text_message) %>
	<%= label_tag(:method, "send via text messaging") %>
	</p>

	<p>Title: <%= text_field :title_box, :message_title %></p>
	 <td> 
	 	Message:
	 	<%= text_area :message_box, :message_body, :id => "message", :size => "10x10" %> </td>
  </tbody>
  </table>
<%= submit_tag 'Submit', :class => "button round" %>
<%= link_to "Back", admin_dashboard_url, :class => "button round" %>