<br>
<h3>Participant Details</h3>
<br>
<p>
  <strong>Conference Start Date:</strong>
  <%= @participant.team.conference.start_date %>
</p>
<p>
  <strong>Conference End Date:</strong>
  <%= @participant.team.conference.end_date %>
</p>
<p>
  <strong>Team:</strong>
  <%= @participant.team.team_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @participant.account.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @participant.account.last_name %>
</p>

<p>
  <strong>Is Captain?:</strong>
  <%= @participant.captain %>
</p>

<p>
  <strong>Waiver signed?:</strong>
  <%= @participant.waiver_signed %>
</p>

<p>
  <strong>Shirt size:</strong>
  <%= @participant.shirt_size %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.account.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @participant.phone %>
</p>

<%= link_to 'Update Participant', edit_participant_path(@participant), :class => "button round", :style => "color:white" %>
<% if is_admin? %>
  | <%= link_to 'Participant\'s Team', "/teams/#{@participant.team.id}", :class => "button round", :style => "color:white" %>
  <br>
	<%= link_to 'Back', participants_path, :class => "button round", :style => "color:white" %>
	  
<% else %>
  <br>
	| <%= link_to 'Back', participant_dashboard_url, :class => "button round", :style => "color:white" %>
<% end %>
