<%= form_tag :action => 'update_waivers' %>
<br>
<h3> Checklist </h3>
<table>
  <thead>
    <tr>
      <th> Team </th>
	  <th> Paid? </th>
	</tr>
  </thead>
  <tbody>
  
<% @active_teams.each do |team| %>   
	  <tr>
	    <td> <%= team.team_name %> </td>	
	    <%= fields_for "teams[#{team.id}]" do |f| %>
		  <td> <%= f.check_box :paid_status, {}, 'paid', 'unpaid' %> </td>
	    <% end %>
	  </tr>
<% end %>

</tbody>
 </table>
<table>
  <thead>
    <tr>
      <th> Team </th>
	  <th> First Name </th>
	  <th> Last Name </th>
	  <th> Waiver Checklist </th>
	</tr>
  </thead>
  <tbody>
  
<% @active_teams.each do |team| %>
      <% (team.participants).each do |participant| %>
	  <tr>
	    <td> <%= participant.team.team_name %> </td>	
		<td> <%= participant.account.first_name %> </td>
		<td> <%= participant.account.last_name %> </td>
	    <%= fields_for "participants[#{participant.id}]" do |f| %>
		  <td> <%= f.check_box :waiver_signed %> </td>
	    <% end %>
	  </tr>
	  <% end %>
<% end %>

</tbody>
 </table>
 <%= submit_tag 'Submit', :class => "button round" %> |
 <%= link_to 'Back to Dashboard', admin_dashboard_url, :class => "button round", :style => 'color:white;' %>