<h1>Show team members</h1>

<% @participants.each do |participant| %>
	<% @id = participant.id %>
	<p>
		<% @account = Account.find_by user_id: @id %>
		<%= @account.first_name %>
		<%= @account.last_name %>
		<% if is_admin? %>
			| <%= link_to '', [:edit, participant], { :class => "ibutton-small fi-pencil", :title => "Update Participant", :id => "update#{participant.id}" } %>
		<% end %>
		| <%= link_to '', participant, method: :delete, data: { confirm: "Remove #{@account.first_name} #{@account.last_name} from the team?" }, :class => "ibutton-small fi-trash", :title => "Destroy Conference" %>
	</p>
<% end %>



<%= link_to "Add new team member", {controller: "participants", action: "new"}, :class => "button round" %>
<%= link_to 'Back', {controller: "teams", action: "show", id: params[:id]}, :class => "button round" %>
