<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date, "Registration Start Date" %><br>
    <%= f.date_select :start_date, 
		options = { :order => [:month, :day, :year]},
		html_options = { class: 'select-date' }%>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date, 
		options = { :order => [:month, :day, :year]},
		html_options = { class: 'select-date' }%>
  </div>
  <div class="field">
    <%= f.label :max_team_size %><br>
    <%= f.number_field :max_team_size %>
  </div>
  <div class="field">
    <%= f.label :min_team_size %><br>
    <%= f.number_field :min_team_size %>
  </div>
  <div class="field">
    <%= f.label :max_teams %><br>
    <%= f.number_field :max_teams %>
  </div>
  <div class="field">
    <%= f.label :tamu_cost %><br>
    <%= f.text_field :tamu_cost %>
  </div>
  <div class="field">
    <%= f.label :other_cost %><br>
    <%= f.text_field :other_cost %>
  </div>
  <div class="field">
    <%= f.label :challenge_desc %><br>
    <%= f.text_area :challenge_desc %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
