<p id="notice"><%= notice %></p>

<h1>Listing Conferences</h1>

<table>
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Team Size</th>
      <th>Max Teams</th>
      <th>Tamu Cost</th>
      <th>Other Cost</th>
      <th>Challenge Desc</th>
      <th>Active?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.start_date %></td>
        <td><%= conference.end_date %></td>
        <td><%= conference.min_team_size %> - <%= conference.max_team_size %></td>
        <td><%= conference.max_teams %></td>
        <td><%= number_to_currency(conference.tamu_cost) %></td>
        <td><%= number_to_currency(conference.other_cost) %></td>
        <td><%= conference.challenge_desc %></td>
        <td><%= 
                if conference.is_active == true
                  'Yes' 
                elsif conference.is_active == false
                  'No'
                end
            %></td>
        <td><%= link_to 'Show', conference %></td>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
