<br>
<h3 style='display:inline'>Conferences</h3>
  <%= link_to '', new_conference_path, :class => "i-button-small fi-plus button tiny round", :style => 'color:white;', :title => 'Create a New Conference' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Registration</th>
	    <th>Conference Dates</th>
      <th>Team Size</th>
      <th>Max Teams</th>
      <th>Tamu Cost</th>
      <th>Other Cost</th>
      <th>Challenge Desc</th>
      <th>Active?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= link_to '', conference, { :class => "ibutton-small fi-magnifying-glass", :title => "View Conference" } %></td>
        <td><%= conference.start_date %> through <%= conference.end_date %></td>
        <td><%= conference.conf_start_date %> through <%= conference.conf_end_date %></td>
        <td><%= conference.min_team_size %> - <%= conference.max_team_size %></td>
        <td><%= conference.max_teams %></td>
        <td><%= number_to_currency(conference.tamu_cost) %></td>
        <td><%= number_to_currency(conference.other_cost) %></td>
        <td><%= conference.challenge_desc %></td>
        <td><%= 
                if conference.is_active == true
                  'Yes' 
                elsif conference.is_active == false
                  'No'
                end
            %></td>
        <td><%= link_to '', edit_conference_path(conference), { :class => "ibutton-small fi-pencil", :title => "Update Conference" } %></td>
        <td><%= link_to '', conference, method: :delete, data: { confirm: 'Are you sure you want to destroy this conference?' }, :class => "ibutton-small fi-trash", :title => "Destroy Conference" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Dashboard', admin_dashboard_url, :class => "button round", :style => 'color:white' %>
