<br>
<h3 style='display:inline'>Events</h3>
  <%= link_to '', new_event_path, :class => "i-button-small fi-plus button tiny round", :style => 'color:white;', :title => 'Create a New Event', :id => "add_event" %>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Event desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
	    <td><%= link_to '', event, { :class => "ibutton-small fi-magnifying-glass", :title => "View Event", :id => "view#{event.id}"} %></td>
        <td><%= Date::DAYNAMES[event.day.wday] %></td>
        <td><%= event.start_time.strftime("%I:%M %p") %></td>
        <td><%= event.end_time.strftime("%I:%M %p") %></td>
        <td><%= event.event_desc %></td>
        <td><%= link_to '', edit_event_path(event), { :class => "ibutton-small fi-pencil", :title => "Update Event", :id => "update#{event.id}" } %></td>
        <td><%= link_to '', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ibutton-small fi-trash", :title => "Destroy Event" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

