<h3><u>Event Details</u></h3>
<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Event desc:</strong>
  <%= @event.event_desc %>
</p>

<%= link_to 'Edit', edit_event_path(@event), :class => "button round", :style => "color:white" %>
<%= link_to 'Back', events_path, :class => "button round", :style => "color:white" %>
