<br>
<h3>Sponsor Details</h3>
<p>
  <strong>Sponsor Name:</strong>
  <%= @sponsor.sponsor_name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag(@sponsor.logo_path_url.to_s, size: "100") %>
</p>

<p>
  <strong>Website:</strong>
 <%= @sponsor.website_url %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @sponsor.priority %>
</p>

<p>
  <strong>Conference Time:</strong><br>
  Start Date:<%= @sponsor.conference.start_date %><br>
  End Date:<%= @sponsor.conference.end_date %><br>
</p>

<%= link_to 'Update Sponsor', edit_sponsor_path(@sponsor), :class => "button round", :style => "color:white" %> 
<%= link_to 'Back', sponsors_path, :class => "button round", :style => "color:white" %>
