<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @contact.rank %>
</p>

<p>
  <strong>Group:</strong>
  <%= @contact.group %>
</p>

<p>
  <strong>Position:</strong>
  <%= @contact.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Other:</strong>
  <%= @contact.other %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
