<br>
<h3 align='center'>Admin Dashboard</h3>
<div align='center'>
  <table class="icon" size='70%'>
    <tr>
      <td class="icon"><%= link_to "", messenger_path, {:class => "ibutton fi-mail", :id => "Send Notifications"}%></td>
      <td class="icon-label">Send Notifications</td> 
    </tr>
    <tr>
      <td class="icon"><%= link_to "", { controller: "teams", method: "index" }, {:class => "ibutton fi-address-book", :id => "Manage Teams"}%></td>
      <td class="icon-label">Manage Teams</td>  
    </tr>
    <tr>
      <td class="icon"><%= link_to "", { controller: "conferences", method: "index" }, {:class => "ibutton fi-torsos-all", :id => "Manage Conferences"}%></td>
      <td class="icon-label">Manage Conferences</td>  
    </tr>
    <tr>
      <td class="icon"><%= link_to "", { controller: "sponsors", method: "index" }, {:class => "ibutton fi-torso-business", :id => "Manage Sponsors"}%></td>
      <td class="icon-label">Manage Sponsors</td>  
    </tr>
    <tr>
      <td class="icon"><%= link_to "", "/participants/waiver_checklist", {:class => "ibutton fi-checkbox", :id => "Participant Check-In"}%></td>
      <td class="icon-label">Participant Check-In</td>  
    </tr>
    <tr>
      <td class="icon"><%= link_to "", "/schools", {:class => "ibutton fi-book", :id => "Manage Schools"}%></td>
      <td class="icon-label">Manage Schools</td>  
    </tr>
	<tr>
      <td class="icon"><%= link_to "", { controller: "events", method: "index" }, {:class => "ibutton fi-clipboard-notes", :id => "Manage Itinerary"}%></td>
      <td class="icon-label">Manage Itinerary</td>  
    </tr>
  </table>
</div>