<br>
<h3 style='display:inline'>Administrators</h3>
  <%= link_to '', new_administrator_path, :class => "i-button-small fi-plus button tiny round", :style => 'color:white;', :title => 'Create a New Administrator', :id => "add_administrator" %>

<table>
  <thead>
    <tr>
	  <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
	  <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
	    <td><%= link_to '', administrator, { :class => "ibutton-small fi-magnifying-glass", :title => "View Administrator", :id => "view#{administrator.id}"} %></td>
        <td><%= administrator.account.first_name %></td>
        <td><%= administrator.account.last_name %></td>
        <td><%= administrator.account.email %></td>
        <td><%= link_to '', edit_administrator_path(administrator), { :class => "ibutton-small fi-pencil", :title => "Update Administrator", :id => "update#{administrator.id}" } %></td>
        <td><%= link_to '', administrator, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ibutton-small fi-trash", :title => "Destroy Administrator" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
