<br>
<h3 style='display:inline'>Schools List</h3>
<%= link_to '', new_school_path, :class => "i-button-small fi-plus button tiny round", :style => 'color:white;', :title => 'Add a School' %>

<table>
  <thead>
    <tr>
      <th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to '', school, { :class => "ibutton-small fi-magnifying-glass", :title => "View School" } %></td>
        <td><%= school.name %></td>
        <td><%= link_to '', edit_school_path(school), { :class => "ibutton-small fi-pencil", :title => "Update School" } %></td>
        <td><%= link_to '', school, method: :delete, data: { confirm: 'Are you sure you want to delete this school?' }, :class => "ibutton-small fi-trash", :title => "Destroy School" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back to Dashboard', admin_dashboard_url, :class => "button round", :style => 'color:white' %>