.row
	%div{:class => "small-12 text-center columns"}
		
		%h2 Register

		= form_tag register_path, :method => :post do

			= label :register, :first_name, 'First Name', :class => "text-left"
			= text_field :register, :first_name
			
			= label :register, :last_name, 'Last Name', :class => "text-left"
			= text_field :register, :last_name
			
			= label :register, :email, 'Email', :class => "text-left"
			= text_field :register, :email
			
			= label :register, :password, 'Password', :class => "text-left"
			= password_field :register, :password
			
			= label :register, :password_confirmation, 'Password Confirmation', :class => "text-left"
			= password_field :register, :password_confirmation
			
			= label :register, :phone, 'Phone Number', :class => "text-left"
			= text_field :register, :phone
			
			= label :register, :shirt_size, 'Shirt Size', :class => "text-left"
			= text_field :register, :shirt_size
			
			= submit_tag 'Register', :class => "button round"