<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<div class="row">
		<div class="small-12 columns">
			<h1>Header</h1>
		</div>
	</div>
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name"></li>
	  </ul>
	  <section class="top-bar-section">
	    <ul class="center">
		  <li><%= link_to "Home", root_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to "Itinerary" %></li>
		  <li class="divider"></li>
		  <% if logged_in? %>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
		  <% else %>
			<li><%= link_to "Log-in", login_path %></li>
			<li class="divider"></li>
			<li><%= link_to "Register", controller: "accounts", action: "new" %></li>
		  <% end %>	
	    </ul>
	  </div>
	</nav>	
	<div class="row">
	  <div class="small-10 columns">
	    <% flash.each do |message_type, message| %>
          <div class="alert-box <%= message_type %>">
			<%= message %>
		  </div>	
        <% end %>
		<%= yield %>
	  </div>
	  <div class="small-2 columns">
	    <h5>Sponsors</h5>
	  </div>
	</div>
	<div class="row">
	  <div class="small-12 columns">
		<h5 align="center">Footer</h5>
	  </div>
	</div>

  </body>
</html>
